{% extends 'base.html' %}

{% block title %}Sobre - Minha Aplicação{% endblock %}

{% block content %}
<header class="text-center">
    <h1 class="text-danger">A Relação entre Queimadas e Precipitação no Brasil: Uma Análise de Correlações</h1>
    <p>Esta é um sistema de importação de dados em formato CSV para o ETL e depois é gerado gráficos de correlação
        para inferir analises
    </p>
</header>

<section class="mt-3">
    <h2 class="text-warning text-center">Passo a Passo</h2>
    <ul class="list-group">
        <li class="list-group-item">Passo 1: Acesse os sites correspondentes para baixar os dados necessários – um arquivo zipado de cada site e sempre referentes ao mesmo ano. Utilize os seguintes links para acessar os dados: 
            <a href="https://portal.inmet.gov.br/dadoshistoricos" target="_blank">INMET</a> e 
            <a href="https://dataserver-coids.inpe.br/queimadas/queimadas/focos/csv/anual/Brasil_todos_sats/" target="_blank">INPE</a>.
        </li>
        <li class="list-group-item">Passo 2:</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>

    <div class="row text-center mt-4">
        <div class="col-md-4">
            <h3 class="text-warning">Extração</h3>
            <p>Processo de extração dos dados da planilha</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-warning">Transformação</h3>
            <p>Transformação e manipulação dos dados</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-warning">Carga</h3>
            <p>Carga dos dados no sistema</p>
        </div>
    </div>
</section>
{% endblock %}