{% extends 'base.html' %}

{% block title %}HydroFlame Analytics - Importação{% endblock %}

{% block content %}
<div class="text-center"></div>
<form method="post" action="{% url 'home' %}" enctype="multipart/form-data" onsubmit="showSpinner()">
    {% csrf_token %}
    <div class="mb-3">
        <label for="file-upload" class="form-label">Adicione o arquivo zipado referente ao ano das bases do INPE</label>
        <input class="form-control" type="file" id="file-upload" name="file" accept=".zip">
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
    {% if correlation %}
    <button type="button" class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#infoModal">Explicação dos Itens</button>
    {% endif %}
    {% if outliers %}
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#outliersModal">Ver Outliers</button>
    {% endif %}
</form>

<div class="d-flex justify-content-center">
    <div id="spinner" class="spinner-border text-success mt-5" role="status" style="display: none;">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

{% if correlation %}
    <h3 class="mt-4">Resultados com Todos os Dados</h3>
    {% if total_municipios %}
        <p><strong>Total de Municípios:</strong> {{ total_municipios }}</p>
    {% endif %}
    <p><strong>Correlação de Pearson:</strong> {{ correlation }}</p>
    <p><strong>Valor-p:</strong> {{ p_value }}</p>
    <p><strong>Coeficiente Angular (Slope):</strong> {{ slope }}</p>
    <p><strong>Intercepto:</strong> {{ intercept }}</p>
    <p><strong>Equação da Reta:</strong> {{ equation }}</p>
    <div class="text-center">
        <h4 class="mt-4">Gráfico de Regressão Linear (Todos os Dados)</h4>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
        <img src="data:image/png;base64,{{ regression_plot }}" alt="Gráfico de Regressão Linear" class="img-fluid">
    </div>
{% endif %}

{% if regression_plot_no_outliers %}
    <h3 class="mt-4">Resultados sem Outliers</h3>
    {% if total_municipios_sem_outliers %}
        <p><strong>Total de Municípios sem Outliers:</strong> {{ total_municipios_sem_outliers }}</p>
    {% endif %}
    <p><strong>Equação da Reta:</strong> {{ equation_no_outliers }}</p>
    <div class="text-center">
        <h4 class="mt-4">Gráfico de Regressão Linear (Sem Outliers)</h4>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
        <img src="data:image/png;base64,{{ regression_plot_no_outliers }}" alt="Gráfico de Regressão Linear Sem Outliers" class="img-fluid">
    </div>
{% endif %}

<div class="modal fade" id="outliersModal" tabindex="-1" aria-labelledby="outliersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="outliersModalLabel">Outliers Identificados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Total de Municípios com Outliers:</strong> {{ total_municipios_outliers }}</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Município</th>
                            <th>Precipitação</th>
                            <th>Risco de Fogo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for outlier in outliers %}
                        <tr>
                            <td>{{ outlier.municipio }}</td>
                            <td>{{ outlier.precipitacao }}</td>
                            <td>{{ outlier.risco_fogo }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Explicação dos Itens</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Correlação de Pearson:</strong> Mede a força e a direção de uma relação linear entre duas variáveis. Valores de correlação variam entre -1 e 1:
                    <ul>
                        <li><strong>1:</strong> Correlação positiva perfeita, indicando que à medida que uma variável aumenta, a outra também aumenta proporcionalmente.</li>
                        <li><strong>-1:</strong> Correlação negativa perfeita, indicando que à medida que uma variável aumenta, a outra diminui proporcionalmente.</li>
                        <li><strong>0:</strong> Nenhuma correlação linear, sugerindo que as variáveis não possuem uma relação linear aparente.</li>
                        <li><strong>Entre 0 e ±0,5:</strong> Correlação fraca. Quanto mais próximo de 0, menor a força da relação linear.</li>
                        <li><strong>Entre ±0,5 e ±1:</strong> Correlação moderada a forte, dependendo da proximidade de 1 ou -1.</li>
                    </ul>
                </p>
                <p><strong>Valor-p:</strong> Avalia a significância estatística da correlação observada. Valores comuns para interpretar significância são:
                    <ul>
                        <li><strong>Valor-p &lt; 0,05:</strong> Indica que a correlação observada é estatisticamente significativa. Há uma baixa probabilidade de que a correlação seja devido ao acaso.</li>
                        <li><strong>Valor-p ≥ 0,05:</strong> Sugere que a correlação pode ser resultado do acaso e não é considerada estatisticamente significativa.</li>
                    </ul>
                </p>
                <p><strong>Coeficiente Angular (Slope):</strong> Representa a taxa de variação entre as variáveis. No contexto, ele mostra como o risco de fogo varia com a precipitação:
                    <ul>
                        <li><strong>Positivo:</strong> Risco de fogo aumenta com a precipitação.</li>
                        <li><strong>Negativo:</strong> Risco de fogo diminui com o aumento da precipitação, o que pode sugerir que mais precipitação reduz o risco de fogo.</li>
                        <li><strong>Zero:</strong> Não há relação linear entre a precipitação e o risco de fogo.</li>
                    </ul>
                </p>
                <p><strong>Intercepto:</strong> Valor esperado de risco de fogo quando a precipitação é zero. Serve como ponto de partida na previsão do risco de fogo:
                    <ul>
                        <li><strong>Positivo:</strong> Sugere que o risco de fogo ainda é presente mesmo sem precipitação.</li>
                        <li><strong>Próximo de Zero:</strong> Indica que o risco de fogo é baixo ou nulo sem precipitação.</li>
                    </ul>
                </p>
                <p><strong>Equação da Reta:</strong> Fórmula da linha de regressão. No formato <em>y = mx + b</em>:
                    <ul>
                        <li><strong>y:</strong> Valor previsto de risco de fogo.</li>
                        <li><strong>x:</strong> Precipitação observada.</li>
                        <li><strong>m (slope):</strong> Coeficiente angular.</li>
                        <li><strong>b (intercepto):</strong> Intercepto no eixo y.</li>
                    </ul>
                    A equação permite prever como o risco de fogo varia com a precipitação.
                </p>
                <p><strong>Gráfico de Regressão Linear:</strong> Visualiza a relação entre precipitação e risco de fogo. Cada ponto azul representa dados observados de um município. A linha vermelha de regressão mostra a relação linear calculada entre precipitação e risco de fogo, indicando a direção e intensidade dessa relação.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showSpinner() {
        document.getElementById('spinner').style.display = 'block';
    }
</script>
{% endblock %}